In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

We've talked about Random Forests. Now it's time to build one.

Here we'll use data from Lending Club to predict the state of a loan given some information about it. You can find the dataset [here](https://www.lendingclub.com/info/download-data.action). We'll use 2015 data. ([Thinkful mirror](https://www.dropbox.com/s/m7z42lubaiory33/LoanStats3d.csv?dl=0))

In [2]:
# Replace the path with the correct path for your data.
y2015 = pd.read_csv(
    'LoanStats3d.csv',
    skipinitialspace=True,
    header=1
)

# Note the warning about dtypes.

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (0,19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
y2015.head()

## The Blind Approach

Now, as we've seen before, creating a model is the easy part. Let's try just using everything we've got and throwing it without much thought into a Random Forest. SKLearn requires the independent variables to be be numeric, and all we want is dummy variables so let's use `get_dummies` from Pandas to generate a dummy variable for every categorical colummn and see what happens off of this kind of naive approach.

Did your kernel die? My kernel died.

Guess it isn't always going to be that easy...

Can you think of what went wrong?

(You're going to have to reset your kernel and reload the column, BUT DON'T RUN THE MODEL AGAIN OR YOU'LL CRASH THE KERNEL AGAIN!)

## Data Cleaning

Well, `get_dummies` can be a very memory intensive thing, particularly if data are typed poorly. We got a warning about that earlier. Mixed data types get converted to objects, and that could create huge problems. Our dataset is about 400,000 rows. If there's a bad type there its going to see 400,000 distinct values and try to create dummies for all of them. That's bad. Lets look at all our categorical variables and see how many distinct counts there are...

In [ ]:
#categorical = y2015.select_dtypes(include=['object'])
#for i in categorical:
 #   column = categorical[i]
  #  print(i)
    #print(column.nunique())

Well that right there is what's called a problem. Some of these have over a hundred thousand distinct types. Lets drop the ones with over 30 unique values, converting to numeric where it makes sense. In doing this there's a lot of code that gets written to just see if the numeric conversion makes sense. It's a manual process that we'll abstract away and just include the conversion.

You could extract numeric features from the dates, but here we'll just drop them. There's a lot of data, it shouldn't be a huge problem.

In [16]:
# Convert ID and Interest Rate to numeric.
y2015['id'] = pd.to_numeric(y2015['id'], errors='coerce')
y2015['int_rate'] = pd.to_numeric(y2015['int_rate'].str.strip('%'), errors='coerce')

# Drop other columns with many unique variables
y2015.drop(['url', 'emp_title', 'zip_code', 'earliest_cr_line', 'revol_util',
            'sub_grade', 'addr_state', 'desc'], 1, inplace=True)

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

Wonder what was causing the dtype error on the id column, which _should_ have all been integers? Let's look at the end of the file.

In [ ]:
#y2015.tail()

In [12]:
# Remove two summary rows at the end that don't actually contain data.
y2015 = y2015[:-2]

Now this should be better. Let's try again.

In [13]:
pd.get_dummies(y2015)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,dti,delinq_2yrs,...,settlement_date_Nov-2017,settlement_date_Nov-2018,settlement_date_Oct-2015,settlement_date_Oct-2016,settlement_date_Oct-2017,settlement_date_Oct-2018,settlement_date_Sep-2015,settlement_date_Sep-2016,settlement_date_Sep-2017,settlement_date_Sep-2018
0,NaN,NaN,24700.0,24700.0,24700.0,11.99,820.28,65000.0,16.06,1.0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,NaN,35000.0,35000.0,35000.0,12.88,794.21,106000.0,17.36,0.0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,NaN,20000.0,20000.0,20000.0,13.99,465.27,70000.0,16.90,0.0,...,0,0,0,0,0,0,0,0,1,0
3,NaN,NaN,20000.0,20000.0,20000.0,12.88,672.73,145000.0,12.28,0.0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,NaN,14025.0,14025.0,14025.0,18.49,359.90,39000.0,18.00,0.0,...,0,0,0,0,0,0,0,0,0,0
5,NaN,NaN,16000.0,16000.0,16000.0,8.49,328.19,62000.0,28.92,0.0,...,0,0,0,0,0,0,0,0,0,0
6,NaN,NaN,17475.0,17475.0,17475.0,13.99,597.17,39750.0,23.58,0.0,...,0,0,0,0,0,0,0,0,0,0
7,NaN,NaN,33600.0,33600.0,33600.0,10.78,1096.53,104000.0,14.01,0.0,...,0,0,0,0,0,0,0,0,0,0
8,NaN,NaN,10400.0,10400.0,10400.0,22.45,289.91,104433.0,25.37,1.0,...,0,0,0,0,0,0,0,0,0,0
9,NaN,NaN,20000.0,20000.0,20000.0,10.78,432.66,63000.0,10.78,0.0,...,0,0,0,0,0,0,0,0,0,0
10,NaN,NaN,3600.0,3600.0,3600.0,13.99,123.03,55000.0,5.91,0.0,...,0,0,0,0,0,0,0,0,0,0
11,NaN,NaN,35000.0,35000.0,35000.0,14.85,829.90,110000.0,17.06,0.0,...,0,0,0,0,0,0,0,0,0,0
12,NaN,NaN,17925.0,17925.0,17925.0,17.27,448.09,39000.0,27.78,0.0,...,0,0,0,0,0,0,0,0,0,0
13,NaN,NaN,9000.0,9000.0,9000.0,8.49,284.07,47000.0,8.43,0.0,...,0,0,0,0,0,0,0,0,0,0
14,NaN,NaN,11550.0,11550.0,11550.0,16.59,284.51,38000.0,21.07,0.0,...,0,0,0,0,0,0,0,0,0,0
15,NaN,NaN,12000.0,12000.0,12000.0,9.80,253.79,65000.0,23.84,0.0,...,0,0,0,0,0,0,0,0,0,0
16,NaN,NaN,10000.0,10000.0,10000.0,7.91,312.95,40100.0,10.81,0.0,...,0,0,0,0,0,0,0,0,0,0
17,NaN,NaN,28000.0,28000.0,28000.0,14.85,663.92,85000.0,28.52,0.0,...,0,0,0,0,0,0,0,0,0,0
18,NaN,NaN,14000.0,14000.0,14000.0,14.85,331.96,60000.0,24.29,0.0,...,0,0,0,0,0,0,0,0,0,0
19,NaN,NaN,7200.0,7200.0,7200.0,9.17,229.53,50000.0,19.25,0.0,...,0,0,0,0,0,0,0,0,0,0
20,NaN,NaN,21875.0,21875.0,21875.0,11.99,726.46,47590.0,17.76,0.0,...,0,0,0,0,0,0,0,0,0,0
21,NaN,NaN,16000.0,16000.0,16000.0,13.44,367.67,42000.0,9.60,0.0,...,0,0,0,0,0,0,0,0,0,0
22,NaN,NaN,35000.0,35000.0,35000.0,11.99,778.38,128000.0,6.46,0.0,...,0,0,0,0,0,0,0,0,0,0
23,NaN,NaN,27300.0,27300.0,27300.0,17.27,977.00,65000.0,25.63,0.0,...,0,0,0,0,0,0,0,0,0,0
24,NaN,NaN,15000.0,15000.0,15000.0,10.78,489.52,40000.0,10.17,0.0,...,0,0,0,0,0,0,0,0,0,0
25,NaN,NaN,5000.0,5000.0,5000.0,7.91,156.48,32000.0,13.73,0.0,...,0,0,0,0,0,0,0,0,0,0
26,NaN,NaN,15000.0,15000.0,15000.0,5.32,451.73,80000.0,20.18,0.0,...,0,0,0,0,0,0,0,0,0,0
27,NaN,NaN,10000.0,10000.0,10000.0,10.78,326.35,41600.0,15.78,0.0,...,0,0,0,0,0,0,0,0,0,0
28,NaN,NaN,25000.0,25000.0,25000.0,11.48,549.57,135000.0,4.65,0.0,...,0,0,0,0,0,0,0,0,0,0
29,NaN,NaN,23100.0,23100.0,23100.0,20.50,618.46,110000.0,20.43,0.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421065,NaN,NaN,4200.0,4200.0,4200.0,15.99,147.64,48000.0,36.93,0.0,...,0,0,0,0,0,0,0,0,0,0
421066,NaN,NaN,20000.0,20000.0,20000.0,6.99,617.46,72000.0,27.24,0.0,...,0,0,0,0,0,0,0,0,0,0
421067,NaN,NaN,13000.0,13000.0,13000.0,8.19,408.52,85000.0,8.05,1.0,...,0,0,0,0,0,0,0,0,0,0
421068,NaN,NaN,10300.0,10300.0,10300.0,13.66,237.86,93600.0,15.72,1.0,...,0,0,0,0,0,0,0,0,0,0
421069,NaN,NaN,26950.0,26950.0,26950.0,8.19,846.88,54000.0,18.11,0.0,...,0,0,0,0,0,0,0,0,0,0
421070,NaN,NaN,6000.0,6000.0,6000.0,17.86,216.50,90000.0,2.84,0.0,...,0,0,0,0,0,0,0,0,0,0
421071,NaN,NaN,15000.0,15000.0,15000.0,11.44,329.44,57000.0,15.77,0.0,...,0,0,0,0,0,0,0,0,0,0
421072,NaN,NaN,18700.0,18700.0,18700.0,17.86,473.44,52000.0,11.28,0.0,...,0,0,0,0,0,0,0,0,0,0
421073,NaN,NaN,23000.0,23000.0,23000.0,15.59,554.32,50000.0,31.95,0.0,...,0,0,0,0,0,0,0,0,0,0
421074,NaN,NaN,25000.0,25000.0,25000.0,15.59,602.52,55000.0,5.52,0.0,...,0,0,0,0,0,0,0,0,0,0
421075,NaN,NaN,26500.0,26500.0,26500.0,8.67,545.87,92000.0,29.60,1.0,...,0,0,0,0,0,0,0,0,0,0
421076,NaN,NaN,25000.0,25000.0,25000.0,15.99,607.82,103000.0,5.27,0.0,...,0,0,0,0,0,0,0,0,0,0
421077,NaN,NaN,8000.0,8000.0,8000.0,8.19,251.40,50000.0,17.62,0.0,...,0,0,0,0,0,0,0,0,0,0
421078,NaN,NaN,21000.0,21000.0,21000.0,6.03,639.15,65000.0,17.09,0.0,...,0,0,0,0,0,0,0,0,0,0
421079,NaN,NaN,12000.0,12000.0,12000.0,9.49,384.34,40000.0,25.65,1.0,...,0,0,0,0,0,0,0,0,0,0
421080,NaN,NaN,10775.0,10775.0,10775.0,6.03,327.95,54000.0,13.22,1.0,...,0,0,0,0,0,0,0,0,0,0
421081,NaN,NaN,7000.0,7000.0,7000.0,14.31,240.30,57000.0,16.80,2.0,...,0,0,0,0,0,0,0,0,0,0
421082,NaN,NaN,10000.0,10000.0,10000.0,6.49,306.45,75000.0,33.66,0.0,...,0,0,0,0,0,0,0,0,0,0
421083,NaN,NaN,13150.0,13150.0,13150.0,14.99,312.77,30000.0,1.00,0.0,...,0,0,0,0,0,0,0,0,0,0
421084,NaN,NaN,6225.0,6225.0,6225.0,16.49,220.37,27000.0,18.58,0.0,...,0,0,0,0,0,0,0,0,0,0
421085,NaN,NaN,4000.0,4000.0,4000.0,8.67,126.59,50000.0,12.63,0.0,...,0,0,0,0,0,0,0,0,0,0
421086,NaN,NaN,10850.0,10850.0,10850.0,19.24,399.04,32000.0,29.44,0.0,...,0,0,0,0,0,0,0,0,0,0
421087,NaN,NaN,7500.0,7500.0,7500.0,9.49,240.22,40000.0,25.63,0.0,...,0,0,0,0,0,0,0,0,0,0
421088,NaN,NaN,11575.0,11575.0,11575.0,15.59,404.61,25400.0,27.08,0.0,...,0,0,0,0,0,0,0,0,0,0
421089,NaN,NaN,12000.0,12000.0,12000.0,11.99,398.52,63000.0,23.69,1.0,...,0,0,0,0,0,0,0,0,0,0
421090,NaN,NaN,10000.0,10000.0,10000.0,11.99,332.10,31000.0,28.69,0.0,...,0,0,0,0,0,0,0,0,0,0
421091,NaN,NaN,24000.0,24000.0,24000.0,11.99,797.03,79000.0,3.90,0.0,...,0,0,0,0,0,0,0,0,0,0
421092,NaN,NaN,12000.0,12000.0,12000.0,19.99,317.86,64400.0,27.19,1.0,...,0,0,0,0,0,0,0,0,0,0
421093,NaN,NaN,13000.0,13000.0,13000.0,15.99,316.07,35000.0,30.90,0.0,...,0,0,0,0,0,0,0,0,0,0
421094,NaN,NaN,20000.0,20000.0,20000.0,11.99,664.20,100000.0,10.83,0.0,...,0,0,0,0,0,0,0,0,0,0

It finally works! We had to sacrifice sub grade, state address and description, but that's fine. If you want to include them you could run the dummies independently and then append them back to the dataframe.

## Second Attempt

Now let's try this model again.

We're also going to drop NA columns, rather than impute, because our data is rich enough that we can probably get away with it.

This model may take a few minutes to run.

In [14]:
from sklearn import ensemble
from sklearn.model_selection import cross_val_score

rfc = ensemble.RandomForestClassifier()
X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

cross_val_score(rfc, X, Y, cv=10)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([0.99116662, 0.99002683, 0.98990763, 0.99064355, 0.99228212,
       0.99244817, 0.99197302, 0.99339777, 0.99225782, 0.99330278])

The score cross validation reports is the accuracy of the tree. Here we're about 98% accurate.

That works pretty well, but there are a few potential problems. Firstly, we didn't really do much in the way of feature selection or model refinement. As such there are a lot of features in there that we don't really need. Some of them are actually quite impressively useless.

There's also some variance in the scores. The fact that one gave us only 93% accuracy while others gave higher than 98 is concerning. This variance could be corrected by increasing the number of estimators. That will make it take even longer to run, however, and it is already quite slow.

## DRILL: Third Attempt

So here's your task. Get rid of as much data as possible without dropping below an average of 90% accuracy in a 10-fold cross validation.

You'll want to do a few things in this process. First, dive into the data that we have and see which features are most important. This can be the raw features or the generated dummies. You may want to use PCA or correlation matrices.

Can you do it without using anything related to payment amount or outstanding principal? How do you know?

In [ ]:
# Your code here.

In [102]:
# selectKbest 
import numpy as np
from sklearn.feature_selection import SelectKBest, f_classif


X = y2015.drop('loan_status', 1)
Y = y2015['loan_status']
X = pd.get_dummies(X)
X = X.dropna(axis=1)


# Perform feature selection
selector = SelectKBest(f_classif, k=10)
selector.fit(X,Y)

X_new = selector.transform(X)
X_new.shape
print(selector.get_support(indices=True))

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/feature_selection/univariate_selection.py:114: UserWarning: Features [ 23 347] are constant.
  UserWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/feature_selection/univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

[ 12  13  16  17  19  20  55  56 155 194]

In [100]:
# Most 10  useful cols 
X_new = selector.transform(X)
print(X_new.shape)

X.columns[selector.get_support(indices=True)]

#2nd way
X.columns[selector.get_support(indices=True)].tolist()

ValueError: Expected 2D array, got 1D array instead:
array=[11.99 12.88 13.99 ... 19.99 15.99 11.99].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [103]:
from sklearn.metrics import mean_squared_error
# Fitting the model 
rfc = ensemble.RandomForestClassifier()
X_features = X_new
Y = y2015['loan_status'].values.reshape(-1, 1)

rfc.fit(X, Y)

# Cross validation with 10% holdout group 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_features, Y, test_size=0.1, random_state=10)

print('With 10% Holdout: ' + str(rfc.fit(X_train, y_train).score(X_test, y_test)))
print('Testing on Sample: ' + str(rfc.fit(X_features, Y).score(X_features, Y)))

# Cross validating using 10 folds  
from sklearn.model_selection import cross_val_score
print(cross_val_score(rfc, X_features, Y, cv=10))

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:14: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

With 10% Holdout: 0.9803847067204939

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:15: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  from ipykernel import kernelapp as app

Testing on Sample: 0.9983922867761431

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/model_selection/_validation.py:528: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  estimator.fit(X_train, y_train, **fit_params)

[0.97623062 0.97694299 0.97903161 0.98066967 0.98033721 0.98005177
 0.98057376 0.97926711 0.9793146  0.97769967]

In [ ]:
#Can you do it without using anything related to payment amount or outstanding principal? How do you know?

# running into trouble below

In [104]:
# find additional useful features, pick cols unrelated to payment 

# Perform feature selection
selector = SelectKBest(f_classif, k=20)
selector.fit(X,Y)

X_morefeat = selector.transform(X)
X_morefeat.shape
print(selector.get_support(indices=True))

#Get names for additional features 
X.columns[selector.get_support(indices=True)].tolist()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/feature_selection/univariate_selection.py:114: UserWarning: Features [ 23 347] are constant.
  UserWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/feature_selection/univariate_selection.py:115: RuntimeWarning: invalid value encountered in true_divide
  f = msb / msw

[  3  12  13  14  15  16  17  19  20  21  55  56 155 160 194 213 241 348
 349 395]

['int_rate',
 'out_prncp',
 'out_prncp_inv',
 'total_pymnt',
 'total_pymnt_inv',
 'total_rec_prncp',
 'total_rec_int',
 'recoveries',
 'collection_recovery_fee',
 'last_pymnt_amnt',
 'term_ 36 months',
 'term_ 60 months',
 'last_pymnt_d_Feb-2019',
 'last_pymnt_d_Jan-2019',
 'next_pymnt_d_Mar-2019',
 'last_credit_pull_d_Feb-2019',
 'last_credit_pull_d_Oct-2016',
 'debt_settlement_flag_N',
 'debt_settlement_flag_Y',
 'settlement_status_COMPLETE']

In [105]:
# dropping col related to payment or outstanding principal 
import numpy as np
index = [12, 13, 14, 15, 16, 55, 56, 155]
X_morefeat = np.delete(X_morefeat, index)
print(X_morefeat)

[11.99  0.    0.   ...  1.    0.    0.  ]

In [106]:
from sklearn.metrics import mean_squared_error
# Fitting the model 
rfc = ensemble.RandomForestClassifier()

X_features = X_morefeat
Y = y2015['loan_status'].values.reshape(-1, 1)

rfc.fit(X, Y)

# Cross validation with 10% holdout group 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_features, Y, test_size=0.1, random_state=10)

print('With 10% Holdout: ' + str(rfc.fit(X_train, y_train).score(X_test, y_test)))
print('Testing on Sample: ' + str(rfc.fit(X_features, Y).score(X_features, Y)))

# Cross validating using 10 folds  
from sklearn.model_selection import cross_val_score
print(cross_val_score(rfc, X_features, Y, cv=10))

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

ValueError: Found input variables with inconsistent numbers of samples: [8421892, 421095]