#1

In [1]:

answer = 0
for i in range(1000):
    if i % 3 == 0 or i % 5 == 0:
        answer += i
        
print(answer)

233168

#2

In [2]:

fib = []
fib_sum = []
for i in range(100):
    if i == 1 or i == 2:
        num = i
        fib.append(num)
        if i == 2:
            fib_sum.append(num)
    elif i >= 3:
        num = fib[i-2] + fib[i-3]
        fib.append(num)
        if num < 4000000 and num % 2 ==0:
            fib_sum.append(num)
sum(fib_sum)

4613732

#3

In [3]:
num = 600851475143
i = 2
while i * i < num:
    while num % i == 0:
        num = num // i
    i = i + 1
print(num)

6857

#4

In [4]:

n = range(100,1000)
spl = []

for i in n:
    for j in n:
        prod = i*j
        num = []
        for x in str(prod):
            num.append(int(x))
        if num[0] == num[-1] and num[1] == num[-2] and num[2] == num[-3]:
            spl.append([prod])
        
print(max(spl))

[906609]

#5

In [5]:

nums = range(10,1000000000,10)
a = set()
for n in nums:
    if n%2==0 and n%3==0 and n%4==0 and n%5==0 and n%6==0 and n%7==0 and n%8==0 and n%9==0 and n%11==0 and n%12==0 and n%13==0 and n%14==0 and n%15==0 and n%16==0 and n%17==0 and n%18==0 and n%19==0 and n%20==0:
        a.add(n)
min(a)

232792560

#6

In [6]:
squares = []
for n in range(1,101):
    squares.append(n**2)
    summ = sum(range(1,101))**2
diff = summ - sum(squares)
diff

25164150

#7

In [7]:

def nth_prime_number(n):
    # initial prime number list
    prime_list = [2]
    # first number to test if prime
    num = 3
    # keep generating primes until we get to the nth one
    while len(prime_list) < n:

        # check if num is divisible by any prime before it
        for p in prime_list:
            # if there is no remainder dividing the number
            # then the number is not a prime
            if num % p == 0:
                # break to stop testing more numbers, we know it's not a prime
                break

        # if it is a prime, then add it to the list
        # after a for loop, else runs if the "break" command has not been given
        else:
            # append to prime list
            prime_list.append(num)

        # same optimization you had, don't check even numbers
        num += 2

    # return the last prime number generated
    return prime_list[-1]

nth_prime_number(10001)

104743

#8

In [9]:
number_list = 7316717653133062491922511967442657474235534919493496983520312774506326239578318016984801869478851843858615607891129494954595017379583319528532088055111254069874715852386305071569329096329522744304355766896648950445244523161731856403098711121722383113622298934233803081353362766142828064444866452387493035890729629049156044077239071381051585930796086670172427121883998797908792274921901699720888093776657273330010533678812202354218097512545405947522435258490771167055601360483958644670632441572215539753697817977846174064955149290862569321978468622482839722413756570560574902614079729686524145351004748216637048440319989000889524345065854122758866688116427171479924442928230863465674813919123162824586178664583591245665294765456828489128831426076900422421902267105562632111110937054421750694165896040807198403850962455444362981230987879927244284909188845801561660979191338754992005240636899125607176060588611646710940507754100225698315520005593572972571636269561882670428252483600823257530420752963450

#def prod_n_adj_digits(input_num, n):
num_list = []
prods = []
for num in str(number_list):
    num_list.append(int(num))
    for i in range(12, len(num_list)):
        prod = num_list[i] * num_list[i-1] * num_list[i-2] * num_list[i-3] * num_list[i-4]*
        num_list[i-5] * num_list[i-6] * num_list[i-7] * num_list[i-8] * num_list[i-9] * num_list[i-10] * 
        num_list[i-11] * num_list[i-12]
        prods.append(prod)
max(prods)

SyntaxError: ignored

#9

In [10]:

a_list = range(1000)
b_list = range(1000)
for a in a_list:
    for b in b_list:
        c = 1000 - a - b
        if a < b and b < c and a**2 + b**2 == c**2 and a+b+c==1000:
            print(a)
            print(b)
            print(c)
            print(a*b*c)

200
375
425
31875000

#10

In [11]:
def eratosthenes2(n):
    #Declare a set - an unordered collection of unique elements
    multiples = set()

    #Iterate through [2,2000000]
    for i in range(2, n+1):

        #If i has not been eliminated already 
        if i not in multiples:

            #Yay prime!
            yield i

            #Add multiples of the prime in the range to the 'invalid' set
            multiples.update(range(i*i, n+1, i))

#Now sum it up
iter = 0
ml = list(eratosthenes2(2000000))
for x in ml:
    iter = int(x) + iter

print(iter)

142913828922

I had trouble with Question 8 and struggled with questions 9, 10, and 7 I will look at the answers